<div class="container">
  <div class="page-conteiner">

    <header>
      <div class="top-camera-gap"> </div>
      <div class="content-center">
        <span class="header-label">Log in</span>
        <span class="vertical-menu-btn"></span>
      </div>
      <div class="footer-img-box content-center">
        <div class="login-img"></div>
      </div>
    </header>


<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

 <div class="mt-3">
    <div>
      <div>
        <label class="custom-form-label" for="user_email">Email</label> <br />
      </div>
      <div>
        <input class="custom-form-field" autocomplete="email" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" >
      </div>
    </div>

    <div class="mt-5">
      <div>
        <label class="custom-form-label" for="user_password">Password</label>
      </div>
      <div>
        <input class="custom-form-field" autocomplete="current-password" type="password" name="user[password]" id="user_password">
      </div>
    </div>

    <div class="space-top-6rem">
      <div class="content-center btn-space-arround form-actions">
        <input type="submit" name="commit" value="Log in" class="cstm-btn green-btn" data-disable-with="Log in">
      </div>

      <div class="content-center btn-space-arround">
        <a href="/users/sign_up" class="cstm-btn gray-btn">Sign up</a>
      </div>
    </div>

<!--
    <fieldset class="mb-3 boolean optional user_remember_me">
      <div class="form-check">
        <input name="user[remember_me]" type="hidden" value="0" autocomplete="off">
        <input class="form-check-input boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
        <label class="form-check-label boolean optional" for="user_remember_me">Remember me</label>
      </div>
    </fieldset>
-->
</div>

<div>
  <a href="/users/password/new">Forgot your password?</a>
</div>

<% end %>


<!--
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
-->


  </div>
</div>
<!-- Worth to check -->
<!-- <p class="alert">Invalid Email or password.</p> -->
