<!-- app/views/goals/edit.html.erb -->

<h1>Edit Mountain</h1>

<%= form_with(model: @goal, local: true) do |form| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>
      <ul>
        <% @goal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_field :deadline %>
  </div>

 <h1>Edit Goal</h1>

  <%= form.fields_for :tasks do |task_form| %>
    <div class="task-fields">
      <%= task_form.hidden_field :_destroy %>
      <div class="field">
        <%= task_form.label :name %>
        <%= task_form.text_field :name %>
      </div>

      <div class="field">
        <%= task_form.label :deadline %>
        <%= task_form.date_field :deadline %>
      </div>

      <div class="field">
        <%= task_form.label :completed %>
        <%= task_form.check_box :completed %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Update Goal' %>
  </div>
<% end %>

<%= link_to 'Cancel', @goal %>
