<div class="container">
  <div class="page-conteiner">

    <header>
      <div class="top-camera-gap"> </div>
      <div class="content-center">
        <span class="header-label">Mountains</span>
        <span class="vertical-menu-btn" onClick="menuOption();">

          <!-- Dropdown content -->
          <div id="login_dropdown_content">
            <ul>
              <li>
                <div class="content-left mt-2">
                  <div class="img-contact-us"></div>
                  <span>Contact with us</span>
                </div>
              </li>
              <li>
                <div class="content-left mt-2">
                  <div class="img-faq"></div>
                  <span>FAQ</span>
                </div>
              </li>
              <li>
                <div class="content-left mt-2">
                  <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
                    <%= submit_tag 'Logout', class: 'btn btn-link', style: 'padding: 0; color: inherit; text-decoration: none;' %>
                  <% end %>
                </div>
              </li>

            </ul>
          </div>

        </span>
      </div>
      <div class="footer-img-box content-center">
        <div class="mountains-img"></div>
      </div>
    </header>

    <section>
      <article>

        <div>
          <div class="content-center label-text-color fs-3 fw-bold mt-5">
            All mountains
          </div>
        </div>

        <!-- All mountains list -->
        <div class="mountains-container">
  <% @goals.each do |goal| %>
  <!-- stimulus -->
    <div class="list-content-box" data-controller="tuggle">

      <div class="list-content-claster mountain-label" style="width: 10%;">
        <span style="color:#<%= goal.completed ? '00a499' : 'D3D3D3' %>; font-size: 2rem;">&#9864;</span>
      </div>

      <div class="list-content-claster mountain-label" style="width: 75%">
        <%= link_to goal.name, goal_path(goal) %>
      </div>

      <div class="list-content-claster mountan-menu" style="width: 10%; position: relative;">
        <span class="three-dots-icon" data-action="click->tuggle#toggleDropdown">&#x22EE;</span>
        <div id="dropdown-<%= goal.id %>" class="dropdown-content" data-tuggle-target="dropdown" >
          <%= link_to 'Edit', edit_goal_path(goal) %>
          <%= link_to 'Delete', goal_path(goal), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<script>
// make it arror fuction 
// function toggleDropdown(event, id) {
//   document.querySelectorAll('.dropdown-content').forEach(function (dropdown) {
//     if (dropdown.id !== id) {
//       dropdown.classList.remove('show');
//     }
//   });
//   document.getElementById(id).classList.toggle('show');
// }

// window.onclick = function(event) {
//   if (!event.target.matches('.three-dots-icon')) {
//     document.querySelectorAll('.dropdown-content').forEach(function (dropdown) {
//       dropdown.classList.remove('show');
//     });
//   }
// }

</script>

      </article>
    </section>

</div>
    <footer>
      <div class="nav">
        <div class="nav-box">
          <div class="all-mountains-btn"></div>
        </div>

        <div class="nav-box">
          <a  href="/goals/new">
            <div class="add-task-btn"></div>
          </a>
        </div>

        <div class="nav-box">
          <a href="/profile">
            <div class="profile-btn"></div>
          </a>
        </div>
      </div>
    </footer>
</div>
