<div class="container">
  <div class="page-container">
    <header>
      <div class="top-camera-gap"></div>
      <div class="content-center">
        <div class="header-label">Progress</div>
        <span class="vertical-menu-btn" onClick="menuOption();">
          <!-- Dropdown content -->
          <div id="login_dropdown_content">
            <ul>
              <li>
                <div class="content-left mt-2">
                  <div class="img-contact-us"></div>
                  <span>Contact with us</span>
                </div>
              </li>
              <li>
                <div class="content-left mt-2">
                  <div class="img-faq"></div>
                  <span>FAQ</span>
                </div>
              </li>
              <li>
                <div class="content-left mt-2">
                  <div class="img-logout"></div>
                  <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
                    <%= submit_tag 'Logout', class: 'btn btn-link label-text-color', style: 'padding: 0; text-decoration: none; font-size: 1.2rem; font-weight: bold;' %>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </span>
      </div>
      <div class="footer-img-box content-center">
        <div class="new-mountain-img"></div>
      </div>
    </header>

    <section data-controller="tasks">
      <article>
        <div>
          <div class="content-center label-text-color fs-4 fw-bold mt-3">
            <%= @goal.name %>
          </div>
        </div>

        <div class="tasks-list">
          <div class="mountains-container">
            <% @goal.tasks.order(:created_at).each do |task| %>
              <div class="box-underline">
                <div style="display: inline-block; margin: 4px;">
                  <input type="checkbox" class="task-checkbox" data-task-id="<%= task.id %>" data-goal-id="<%= @goal.id %>" <%= task.completed ? 'checked' : '' %> />
                </div>

                <div style="display: inline-block; width: 91%;">
                  <div class="two-elements">
                    <span class="custom-form-label" id="task_deadline"> <%= task.deadline.present? ? task.deadline.strftime("%d %b %Y") : "No deadline" %> </span>
                    <span class="time-left-field"> </span>
                  </div>

                  <div class="two-elements">
                    <span id="task_name"> <%= link_to task.name, goal_task_path(@goal, task), class: "del-task" %> </span>
                    <span> <%= link_to 'Delete', goal_task_path(@goal, task), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "del-task" %> </span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </article>
    </section>

    <!-- Modal Structure -->
    <div id="taskModal" class="modal">
      <div class="modal-content">
        <span class="close" id="closeModalBtn">&times;</span>
        <h1>Add task</h1>
        <%= form_with model: @goal, local: true do |form| %>
          <div class="selection-content-box">
            <div data-target="tasks.tasks">
              <div class="box-underline task-field" data-new-record="true">
                <div class="two-elements">
                  <%= form.date_field :deadline, class: "new-mountain-input", name: "goal[tasks_attributes][0][deadline]" %>
                  <span></span>
                </div>
                <div class="two-elements">
                  <%= form.text_field :name, class: "new-mountain-input", placeholder: "Task name", name: "goal[tasks_attributes][0][name]", value: "" %>
                  <span class="del-task" data-action="click->tasks#removeTask">Delete</span>
                </div>
                <%= form.hidden_field :_destroy, value: false, name: "goal[tasks_attributes][0][_destroy]" %>
              </div>
            </div>
          </div>
          <%= form.submit 'Save Task', id: 'save-task-button', style: "background-color: #00A499; color: #fff; border: none; padding: 10px 20px; font-weight: bold; cursor: pointer;" %>
        <% end %>
      </div>
    </div>

    <footer>
      <div class="nav">
        <div class="nav-box">
          <a href="/goals">
            <div class="all-mountains-btn"></div>
          </a>
        </div>
        <div class="nav-box">
          <a href="javascript:void(0);" id="openModalBtn">
            <div class="add-task-btn"></div>
          </a>
        </div>
        <div class="nav-box">
          <a href="/profile">
            <div class="profile-btn"></div>
          </a>
        </div>
      </div>
    </footer>
  </div>
<<<<<<< HEAD
</body>
</html>
=======
</div>
>>>>>>> master
