<h1><%= @goal.name %> Progress</h1>
<p> Completed - <%= @goal.completed ? "yes" : "no" %></p>

<h2>Tasks:</h2>
<ul>
  <% @goal.tasks.each do |task| %>
    <li>
      <%= link_to task.name, goal_task_path(@goal, task) %> - Deadline: <%= task.deadline %> - Completed: <%= task.completed ? "yes" : "no" %>
      <%= link_to 'Delete', goal_task_path(@goal, task), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-small" %>
    </li>
  <% end %>
</ul>
