<div class="container">
  <div class="page-container">
    <header>
      <div id="progress-bar-container">
        <div class="progress" id="progress-bar">
          <div class="progress-bar bg-info" 
               role="progressbar" 
               style="width: <%= @goal.percent_complete %>%;" 
               aria-valuenow="<%= @goal.percent_complete %>" 
               aria-valuemin="0" 
               aria-valuemax="100">
          </div>
          <!-- Counter for completed and uncompleted tasks -->
          <p class='progress-bar-text' id='progress-bar'>
            <small>
              <%= @goal.percent_complete %> % Complete (<%= @goal.completed_tasks %> / <%= @goal.total_tasks %> Tasks)
            </small>
          </p>
        </div>
      </div>

      <div class="top-camera-gap"></div>
      <div class="content-center">
        <div class="header-label"><%=@goal.name%></div>
        <span class="vertical-menu-btn" onClick="menuOption();">
          <!-- Dropdown content -->
          <div id="login_dropdown_content">
            <ul>
              <li>
                <div class="content-left mt-2">
                  <div class="img-contact-us"></div>
                  <span>Contact with us</span>
                </div>
              </li>
              <li>
                <div class="content-left mt-2">
                  <div class="img-faq"></div>
                  <span>FAQ</span>
                </div>
              </li>
              <li>
                <div class="content-left mt-2">
                  <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
                    <%= submit_tag 'Logout', class: 'btn btn-link', style: 'padding: 0; color: inherit; text-decoration: none;' %>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </span>
      </div>
      <div class="footer-img-box content-center">
        <div class="mountains-img"></div>
      </div>
    </header>

    <section>
      <article>
        <div class="tasks-list">
          <div class="mountains-container">
            <% @goal.tasks.order(:created_at).each do |task| %> <!-- Order by creation time -->
              <div class="list-content-box">
                <div class="list-content-claster mountain-label" style="width: 10%;">
                  <!-- Checkbox Form -->
                  <%= form_with url: toggle_completion_goal_task_path(@goal, task), method: :patch, local: true do %>
                    <%= check_box_tag "completed", task.id, task.completed, onchange: "this.form.submit();" %>
                  <% end %>
                </div>  

                <div class="list-content-claster mountain-label" style="width: 75%">
                  <%= link_to task.name, goal_task_path(@goal, task) %> - 
                  <span><%= task.deadline.present? ? task.deadline.strftime("%d %b %Y") : "No deadline" %></span>
                </div>

                <div class="list-content-claster mountain-menu" style="width: 10%;">
                  <%= link_to 'Delete', goal_task_path(@goal, task), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-small" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </article>
    </section>
  </div>

  <footer>
    <div class="nav">
      <div class="nav-box">
        <a href="/goals">
          <div class="all-mountains-btn"></div>
        </a>
      </div>

      <div class="nav-box">
        <a href="/goals/new">
          <div class="add-task-btn"></div>
        </a>
      </div>

      <div class="nav-box">
        <a href="/profile">
          <div class="profile-btn"></div>
        </a>
      </div>
    </div>
  </footer>
</div>
